<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div>
        <h1>Movie Title</h1>
    </div>
    <div class="card border-dark mb-3" style="width: 24rem;">
        <img src="superbad.png" class="card-img-top" alt="Movie_title"> <!--Query-->
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-success" type="button">SKO</button>
            <a>4767</a> <!--Query-->
            <button class="btn btn-danger" type="button">NO</button>
        </div>
        <div class="card-body" style="text-align: left;">
          <ul>
            <li>Genre: Comedy</li> <!--Query-->
            <li>Year of Release: 2007 </li> <!--Query-->
            <li>Duration: 113 minutes</li> <!--Query-->
          </ul>
        </div>
    </div>
</main>


