<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>like button</title>
</head>

<body>
    <form id="like_dislike">
           <div class="d-grid gap-2 d-md-block">
        <button class="sko" type="button">SKO</button>
        <button class="no" type="button">NO</button>
        <script src="skono.js"></script>
      </div> 
    </form>


</body>

</html>