<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <center><h1 style="color: white;">Superbad</h1>  <!--Query-->
        <div class="card border-dark mb-3" style="width: 24rem;">
            <img src="superbad.png" class="card-img-top" alt="Movie_title"> <!--Query--> 
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-success" type="button">SKO</button>
                <a>4767</a> <!--Query-->  
                <button class="btn btn-danger" type="button">NO</button>
            </div>
            <div class="card-body" style="text-align: left;">
              <ul>
                <li>Genre: Comedy</li> <!--Query--> 
                <li>Year of Release: 2007 </li> <!--Query--> 
                <li>Duration: 113 minutes</li> <!--Query--> 
              </ul>
            </div>
        </div>
    <hr>
    <div>
        <section style="background-color: gold;">
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="card text-dark">
                        <p class="fw-bold mb-4 pb-2">What your peers are saying</p>


                            <div class="card-body p-4">
                                <!--Example Comment-->
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3" src="Circle-icons-profile.svg.png" alt="avatar" width="60" height="60" />
                                    <div>
                                        <h3 class="fw-bold" style="text-align: left;">John Doe</h3>
                                        <p class="mb-0">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                                            since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />




                            <div class="card-body p-4">
                                <!--Example Comment-->
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3" src="Circle-icons-profile.svg.png" alt="avatar" width="60" height="60" />
                                    <div>
                                        <h3 class="fw-bold" style="text-align: left;">Frederick Jones</h3>
                                        <p class="mb-0">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                                            since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </center>
</main>
