<main>
  <div class="container">
    <form action="/login" method="POST">
        <label for="email">Username:</label><br>
        <input id="email" name="email" type="text" pattern="[a-z]{4}[0-9]{4}@colorado\.edu"><br>
        <label for="password">Password:</label><br>
        <input id="password" name="password" type="text">
        <input type="submit" value="Submit">
      </form>
  </div>
</main>